
.product-list {
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display:inline-block;
  border: 1px solid #0090ce;
  padding: 10px;
  width: 200px;

}

.product-list ul{
  margin:0px;
  
}

.captions>li{
  background-color: #E1E3E4;
  color: black;
  font-weight: 900;
  font-size: 18px;
}
.captions~ul>li{
  text-align: start;
}


.operationsButton{
  padding: 2px 10px;
  margin: 0px 2px;
  border: 1px solid;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border-radius: 2px 6px 2px 6px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}



.App-header {
  top: 0;
  display: flex; 
  justify-content: space-between; 
  padding-left: 10px;
  padding-right: 10px;
  background-color: #00557A;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-box {
  width: 15%;
  height: 35px;
  border: 1px solid skyblue;
  border-radius: 5px 10px 5px 10px;
  background-color: #cdeff0d2;
  margin: 10px;
  padding-left: 20px;
}

.App-footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #00557A;
}

.inputBox:hover{
  box-shadow: 0 0 8px 0 #0090ce inset, 0 0 10px 1px #0090ce;
}
.selectPhases{
  cursor: pointer;
  border: 2px solid #00557A;
  color: white;
}
.selectPhases:hover{
  cursor: pointer;
  box-shadow: 0 0 10px 0 #00b3ff inset, 0 0 10px 2px #00b3ff;
  border: 3px solid #00b3ff;
}


.view{
  cursor: pointer;
  border: 2px solid #00557A;
  color: white;
}

.view:hover{
  cursor: pointer;
  box-shadow: 0 0 10px 0 #019B51 inset, 0 0 20px 2px #019B51;
  border: 3px solid #019B51;
}


